<button (click)="adminClicked()">Admin</button><button (click)="clientClicked()">Client</button><button (click)="carClicked()">Car</button>
<br>
<div *ngIf="displayMode==1"><user></user></div>
<div *ngIf="displayMode==0"><admin></admin></div>
<div *ngIf="displayMode==2"><car></car></div>
