<div *ngIf="!connected()">

    <input type="text" [(ngModel)]="id">
    <button (click)="tryConnect()"> Connect</button>
    <div>Triing to connect car with id: {{id}}</div>
</div>
<div *ngIf="connected()">
    <div>You are connected to the car with the name {{carname()}}</div>
    <play></play>
</div>