img {
    width: 100%;
}
p {
    padding: 0 10px;
}
header {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #c1c1c1;
}
.container {
    width: 100%;
    margin: 20px 1% 20px 0;
}
.gallery-item {
    float: left;
    margin: 0 0 10px 1%;
    background: #e1e1e1;
    box-sizing: border-box;
}
/*one column*/
@media screen and (min-width: 20em) {
   .gallery-item {
    width: 98%;
   }
}
/*two column*/
@media screen and (min-width: 30em) {
   .gallery-item {
      width: 48%;
   }
}
/*three column*/
@media screen and (min-width: 48em) {
   .gallery-item {
      width: 32%;
   }
}
/*four column*/
@media screen and (min-width: 75em) {
   .gallery-item {
      width: 23.8%;
   }
}
/*five column*/
@media screen and (min-width: 100em) {
   .gallery-item {
      width: 18.8%;
   }
}
