html,body {
    overflow: hidden;
    height: 100%;
}

.container {
	display:inline-block;
    width:100%; 
    height:100%;
    margin: 0 auto; 
    background: white; 
    position:relative; 

}

img {
    height:100%;
    width:100%;
    z-index: 1;
    position: absolute;
}

.canvas {
    position: absolute;
    z-index: 20;
    height: 100%;
    width:100%;
}