html, body {
	height: 100%
}

.container {
	display:inline-block;
    width:100%; 
    height:100%;
    margin: 0 auto; 
    background: white; 
    position:relative; 

}

img {
	height: 100%;
	width: 100%;
}

button {
	width: 30%;
	height: 20%;

}

div {
	height:100%;
}

button.large {
	width:60.2%;

}